
*{
  overflow: hidden;
}
[mat-fab] {
    position: absolute;
    right: 2%;
    top: 35px;
    z-index: 1;
    background-color:#128c7e ;
}

.chat-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.chat-input {
    padding-top: 20px;
    width: 100%;
}

.chat-list {
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 90px;
    left: 25px;
    right: 25px;
    bottom: 120px;
}

div#emojiKeyboard{

  margin-bottom: 5px;
  border: 1px solid black;
  margin-left: 25vw;
  width: 50vw;
  max-height: 40vh;
  overflow-y: auto;
  background-color: grey;
  padding-left: -20px;
  align-items: center;
  box-shadow: 5px 20px 15px #888888;
  overflow: hidden;
  align-content: center;
}

#emojiButton{
  min-width:fit-content;
  max-width: 2vw;
  display: inline;
}
iframe{
  border: 0px;
  overflow:hidden;
  height:80%;
  margin: 10% 0px;
  width:100%;
}
body{
  overflow-y: hidden;
}


mat-list-item{
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: auto;
    min-width: 10vw;
    display: block;
    width: 100%;
    padding: 12px 12px 12px 12px;
    overflow-y: hidden;
    color: white;
  }

.me{
  margin-left: 50%;
  float: right;
  width: fit-content;
  height: fit-content;
  background-color: #128C7E;
  color: white;
}
.me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
.you{
  background-color: rgb(216, 214, 214);
  margin-right: 50%;
  float: left;
  width: fit-content;
  height: fit-content;
}

.action{
  float:inline-start;
  margin: 4px 25%;
  width: 50%;
}


div#time{
  font-size: smaller;
  position: absolute;
  bottom: 5px;
  right: 5px;
}



.main-card {
    height: 100%;
}

.chat-footer-container {
    position:fixed;
    bottom:25px;
    left:25px;
    right:25px;
    overflow: hidden;
}

.chat-notification {
    text-align: center;
}

.button-globe {
    float: right;
    margin-top: 18px;
}


/*ME OR U PART*/

#me{
  background-color: aqua;
}

#other{
  background-color: brown;
}


#toolbar-right{
  position: absolute;
  right: 1%;
}

#toolbarButton{
  background-color: #00aabb;
  border: 0px;
}

#toolbarButton {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin-left:10px ;
}

#toolbarButton:hover {background-color: #3e8e41}

#toolbarButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
