<h1>Draw something</h1>
<canvas id="canvas" #canvas></canvas>
<br>
<button id=colorButton [style.background]="'red'" (click)="setColor('red')"></button>
<button id=colorButton [style.background]="'blue'" (click)="setColor('blue')"></button>
<button id=colorButton [style.background]="'green'" (click)="setColor('green')"></button>
<button id=colorButton [style.background]="'yellow'" (click)="setColor('yellow')"></button>
<button id=colorButton [style.background]="'purple'" (click)="setColor('purple')"></button>
<button id=colorButton [style.background]="'black'" (click)="setColor('black')"></button>
<button id=colorButton [style.background]="'orange'" (click)="setColor('orange')"></button>
<button id=colorButton [style.background]="'pink'" (click)="setColor('pink')"></button>
<button id=colorButton [style.background]="'indigo'" (click)="setColor('indigo')"></button>
<button id=colorButton [style.background]="'gray'" (click)="setColor('gray')"></button>
