@import '../../../../node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-amber);
$app-accent: mat-palette($mat-blue-gray);
$app-warn: mat-palette($mat-gray);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent, A100);
$warn: mat-color($app-warn);

.bubble {
  $this: &;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;

  &__cover {
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 18px;
    overflow: hidden;
  }
  .mat-card {
    background-color: #075E54;
    color: white;
  }

  &__picture {
    display: block;
    max-width: 100%;
    background-color: white;
  }

  &__container {
    flex: 1;
  }

  &__card {
    display: inline-block !important;
  }

  &--me {
    flex-direction: row-reverse;
    #{$this}__container {
      display: flex;
      justify-content: flex-end;

      .mat-card {
        background-color: #25D366;
        color: white;
      }
    }

    #{$this}__cover {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}
