@import '../../../../node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-amber);
$app-accent: mat-palette($mat-blue-gray);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent, A100);
